streamlit
#matplotlib<3.9.0
matplotlib
scipy
plotly
seaborn
torch>=2.2.0
torchvision
sentence-transformers
transformers
accelerate
scikit-learn
pandas
numpy
networkx
pyvis
h5py
joblib
scikit-image
dgl
ollama
kaleido
holoviews
bokeh
